:root {
    --primary-color: #302AE6;
    --secondary-color: #536390;
    --font-color: #424242;
    --bg-color: #fff;
    --heading-color: #292922;
}

[data-theme="dark"] {
    --primary-color: #47b364;
    --secondary-color: #47b364;
    --font-color: #e1e1ff;
    --bg-color: #161625;
    --heading-color: #818cab;
}

h1 {
    color: var(--secondary-color);
}

a {
    color: var(--primary-color);
}


.theme-switch-wrapper {
    display: flex;
    align-items: center;
    em

{
    margin-left: 10px;
    font-size: 1rem;
}

}

.theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}

    .theme-switch input {
        display: none;
    }

.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

    .slider:before {
        background-color: #fff;
        bottom: 4px;
        content: "";
        height: 26px;
        left: 4px;
        position: absolute;
        transition: .4s;
        width: 26px;
    }

input:checked + .slider {
    background-color: #66bb6a;
}

    input:checked + .slider:before {
        transform: translateX(26px);
    }

.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    }


body {
    background-color: var(--bg-color);
    color: var(--font-color);
    font-family: 'Trebuchet MS';
}

.jumbotron {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.container-fluid {
    padding: 12px;
}

.container {
    text-align: center;
    padding:12px;
}

#buttons {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding:12px;
}

#graphic {
    width:1000px;
    height:400px;
}


#personal_info {
    padding-top:24px;
    padding-bottom:12px;
    letter-spacing:6px;
}

.button {
    box-shadow: 0px 10px 14px -7px #276873;
    background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
    background-color: #599bb3;
    border-radius: 8px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 12px;
    font-family: Trebuchet MS;
    font-weight: bold;
    padding: 13px 32px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #3d768a;
}

    .button:hover {
        background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
        background-color: #408c99;
    }

    .button:active {
        position: relative;
        top: 1px;
    }

.img_fluid {
    float: left;
    max-height: 10%;
    max-width: 10%;
}