body {
    color: #599bb3;
    font-family: 'Trebuchet MS';
}

.jumbotron {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.container {
    text-align: center;
    padding:12px;
}

#buttons {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom:12px;
}

#graphic {
    width:1000px;
    height:400px;
}


#personal_info {
    padding-top:24px;
    padding-bottom:12px;
    letter-spacing:6px;
}

.button {
    box-shadow: 0px 10px 14px -7px #276873;
    background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
    background-color: #599bb3;
    border-radius: 8px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 12px;
    font-family: Trebuchet MS;
    font-weight: bold;
    padding: 13px 32px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #3d768a;
}

    .button:hover {
        background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
        background-color: #408c99;
    }

    .button:active {
        position: relative;
        top: 1px;
    }

.img_fluid {
    float: left;
    max-height: 10%;
    max-width: 10%;
}